<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs"); %>

  <body>
    <div class="container">
      <h1>Listing All the Tags</h1>

      <ul class="list-unstyled" class="container">
        <% tags.forEach(function(tag) { %>
        <li>
          <a href="/tags/<%= encodeURIComponent(tag) %>"><%= tag %></a>
        </li>
        <% }); %>
      </ul>

      <button class="btn btn-info" onclick="window.location.href='/new'">
        Add more stuff!
      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>

  <%- include("partials/footer.ejs"); %>
</html>
